<!-- 
https://wiki.ith.intel.com/pages/viewpage.action?spaceKey=LADSW&title=PROSet+-+Windows+Admin+Center+Extension
Create a Windows Admin Center extension that has feature parity with ACU, then DMIX, and more.

PRIMARY GOALS
------------------------------
Basic Adapter Information
Adapter Setting Configuration
Diagnostics

app.component
   default.component
      adapters-table.component
      adapter-tabs.component
         general-tab.component
         diagnostics-tab.component
         teaming-tab.component
         vlans-tab.component


SECONDARY
-----------------------------
ANS: Teaming/VLANs
Disable/Enable Adapter
Identify Adapter
Link Status
Temperature Support
Yellow Bang Identification



PRIMARY VIEWS
------------------------------
- list of adapters

on select:
- enables: REFRESH, DISBALE, Identitfy, Settings

- populates "properties panel" w/ Name, and TABS: General, Diagnostic, Teaming, VLANs
all tabs have correlating data with an expandable help section


https://www.npmjs.com/package/@fortawesome/angular-fontawesome
-->

<!-- <div class="container-fluid"> -->
<!-- <div class="container"> -->

<div class="container-fluid" style="margin-bottom:-8px;">

  <div class="row">
    
    <div class="p-3 mb-2 bg-primary text-white">

      <img id="intelLogo" src="assets/images/intelWhite.png" alt="intelWhite.png">
      
      <span class="pageTitle">PROSet Network Adapter Configuration</span> 
    
    </div>

  </div>

</div>

<app-navbar></app-navbar>

{{pageView}}

<div class="container-fluid mt-3">

  <div class="row">

    <div>

      <!-- dynamically rendered -->
      <h3>Dell R730-27550</h3>

    </div>

  </div>

  <div class="row">

    <!-- dynamically bound functionalities -->
    <div>

      <fa-icon class="cursorPointer" [icon]="faArrowRotateRight" style="color:blue;"></fa-icon> <span class="fnctMenuItem cursorPointer"> Refresh </span> 
      <fa-icon class="cursorPointer" [icon]="faCircleArrowDown" style="color:blue;"></fa-icon> <span class="fnctMenuItem cursorPointer"> Disable Device </span>  
      <fa-icon class="cursorPointer" [icon]="faInfoCircle" style="color:blue;"></fa-icon> <span class="fnctMenuItem cursorPointer"> Identify Adapter </span> 
      <fa-icon class="cursorPointer" [icon]="faGear" style="color:blue;"></fa-icon> <span class="fnctMenuItem cursorPointer"> Settings </span>

    </div>

    <!-- set up col associated to adapter status -->
    <div class="col-6">

      Name  

    </div>

    <div class="col-6">

      Status

    </div>

  </div>

  <hr class="mt-1 mb-1"/>

  <!-- dynamically rendered -->
  <!-- margin-bottom:8rem; for mock-up -->
  <div style="margin-bottom:8rem;" class="row">

    <app-adapters-table></app-adapters-table>

  </div>

  <hr class="mt-1 mb-1"/>
  <!-- margin-bottom:20rem; for mock-up -->
  <div style="margin-bottom:20rem;" class="row">

    <!-- dynamically rendered -->
    <h4>Intel(R) Ethernet Server Adapter I350-F4</h4>

    <nav>

      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">General</button>

        <button class="nav-link" id="nav-diagnostics-tab" data-bs-toggle="tab" data-bs-target="#nav-diagnostics" type="button" role="tab" aria-controls="nav-diagnostics" aria-selected="false">Diagnostics</button>

        <button class="nav-link" id="nav-teaming-tab" data-bs-toggle="tab" data-bs-target="#nav-teaming" type="button" role="tab" aria-controls="nav-teaming" aria-selected="false">Teaming</button>

        <button class="nav-link" id="nav-vlans-tab" data-bs-toggle="tab" data-bs-target="#nav-vlans" type="button" role="tab" aria-controls="nav-vlans" aria-selected="false">VLANs</button>

        <!-- <button class="nav-link" id="nav-teaming-tab" data-bs-toggle="tab" data-bs-target="#nav-teaming" type="button" role="tab" aria-controls="nav-teaming" aria-selected="false">VLANs</button> -->

      </div>

    </nav>

    <div class="tab-content" id="nav-tabContent">

      <!-- TAB START -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <app-general-tab></app-general-tab>

    </div>
    <!-- TAB END -->

      <!-- TAB START -->
      <div class="tab-pane fade" id="nav-diagnostics" role="tabpanel" aria-labelledby="nav-diagnostics-tab">
        
        Diagnostics Content...
      
      </div>
      <!-- TAB END -->

      <!-- TAB START -->
      <div class="tab-pane fade" id="nav-teaming" role="tabpanel" aria-labelledby="nav-teaming-tab">
        
        Teaming Content...
      
      </div>
      <!-- TAB END -->

      <!-- TAB START -->
      <div class="tab-pane fade" id="nav-vlans" role="tabpanel" aria-labelledby="nav-vlans-tab">
        
        VLANs Content...
      
      </div>
      <!-- TAB END -->

      <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->

    </div>

  </div>

</div>